ul{ 
    list-style-type: none;
    margin: 0%
    padding 0%;
    width:20px ;
    background-color: black;
    border:1px solid ;
}

li {
    display: inline;
    text-align: center;
}

/*comment*/